<form [formGroup]="form">
  <div>
    <label for="name">Name<small *ngIf="hasError('name')">⭕</small></label>
    <input type="text"
           id="name"
           name="name"
           formControlName = "name"
           placeholder="Your name"
           [attr.aria-invalid] = "hasError('name')">
           <small *ngIf="mustShowMessage('name')">{{getErrorMessage('name')}}</small>
  </div>

  <app-email-control formControlName="email"></app-email-control>
  <div>
    <label for="password">Your password<small *ngIf="hasError('password')">⭕</small></label>
    <input type="password"
           id="password"
           name="password"
           formControlName = "password"
           placeholder="Your password"
           [attr.aria-invalid] = "hasError('password')">
           <small *ngIf="mustShowMessage('password')">{{getErrorMessage('password')}}</small>
  </div>
  <div>
    <label for="confirmPassword">Confirm your password<small *ngIf="hasError('password')">⭕</small></label>
    <input type="password"
           id="confirmPassword"
           name="confirmPassword"
           formControlName = "confirmPassword"
           placeholder="Confirm password"
           [attr.aria-invalid] = "hasError('password')">
           <small *ngIf="mustShowMessage('confirmPassword')">{{getErrorMessage('confirmPassword')}}</small>
  </div>
  <div>
    <label for="acceptTerms">Confirm your password<small *ngIf="hasError('password')">⭕</small></label>
    <input type="checkbox"
           id="acceptTerms"
           name="acceptTerms"
           formControlName = "acceptTerms"
           [attr.aria-invalid] = "hasError('acceptTerms')">
    <label for="acceptTerms">Confirm your password<small *ngIf="hasError('password')">⭕</small></label>
    <small *ngIf="mustShowMessage('acceptTerms')">{{getErrorMessage('acceptTerms')}}</small>
  </div>
  <pre>{{form.errors | json}}</pre>
  <button [disabled]="form.invalid"
          (click)="onSave()">Save</button>
</form>

